@page "/editor"
@using Microsoft.JSInterop
@using MudBlazor
@using RmlEditorWeb.Components
@using RmlEditorWeb.Models
@inject IJSRuntime JS



<div class="outer-container">
    <!-- Main Content -->
    <div class="main-content">
        <!-- Monaco Editor Container -->
        <div class="editor-container">
            <MonacoEditor @ref="monacoEditor" Code="@initialCode" OnValidation="Validation" OnCodeChanged="RenderImageAsync" />
        </div>

        <!-- Image Container -->
        <div class="image-container">
            @if (!string.IsNullOrEmpty(RenderedImageData))
            {
                <img src="@($"data:image/png;base64,{RenderedImageData}")" alt="Rendered Image" class="shadowed-image" />
            }
            else
            {
                <div class="no-image-container">
                    <MudText Typo="Typo.h5">
                        Real Time Rendering in the Browser Coming Soon
                    </MudText>
                </div>
            }
        </div>
    </div>
</div>
