@page "/"

<HomeTopBar></HomeTopBar>

<TitleComponent></TitleComponent>

<section>
    <div class="rml-features-container">
        <div class="rml-feature">
            <i class="fas fa-code"></i>
            <h3>XML-Based Structure</h3>
            <p>Use familiar XML formats to define your receipts, ensuring easy integration with your existing systems.</p>
        </div>
        <div class="rml-feature">
            <i class="fas fa-window-restore"></i>
            <h3>WPF Syntax</h3>
            <p>If you're familiar with WPF, you can easily write and customize RML.</p>
        </div>
        <div class="rml-feature">
            <i class="fas fa-bolt"></i>
            <h3>Real-Time Rendering</h3>
            <p>Instantly preview your receipts with the convenient in-browser editor, ensuring accuracy and efficiency.</p>
        </div>
        <div class="rml-feature">
            <i class="fas fa-code-branch"></i>
            <h3>Open Source</h3>
            <p>RML is open-sourced under the GPL-3 License, allowing contributions and modifications from the community.</p>
        </div>
        <div class="rml-feature">
            <i class="fas fa-book"></i>
            <h3>Documented</h3>
            <p>Start quickly with extensive documentation and examples to guide you.</p>
        </div>
    </div>
</section>

<DocumentationComponent></DocumentationComponent>

<ComingSoonComponent></ComingSoonComponent>

<ContactUsComponent></ContactUsComponent>

<FooterComponent></FooterComponent>
