<section>
    <div class="rml-container">
        <div class="rml-content">
            <h2 class="rml-title">What's Coming Soon</h2>
            <ul class="rml-feature-list">
                <li>
                    <i class="fas fa-server"></i>
                    <div><strong>Backend Server for Collaboration:</strong> Collaborate in real-time with multiple users on the same project, enjoy quicker render times, and benefit from centralized storage for personal or company projects, eliminating the need to store data in a single user’s browser.</div>
                </li>
                <li>
                    <i class="fas fa-users"></i>
                    <div><strong>Real-time Project Sharing:</strong> Work together seamlessly, allowing multiple users to edit and manage receipts in real-time within the browser.</div>
                </li>
                <li>
                    <i class="fas fa-database"></i>
                    <div><strong>Centralized Project Storage:</strong> Keep all your projects organized and accessible with centralized storage, ideal for both individual and team use.</div>
                </li>
                <li>
                    <i class="fas fa-edit"></i>
                    <div><strong>Integrated Browser Editor:</strong> Build, edit, and validate receipts in real-time with a fully integrated editor within your browser.</div>
                </li>
                <li>
                    <i class="fas fa-bolt"></i>
                    <div><strong>Near Real-time Rendering in the Browser:</strong> Experience fast, near real-time rendering as you build your receipts, providing quick visual feedback for efficient design iteration.</div>
                </li>
                <li>
                    <i class="fas fa-code"></i>
                    <div><strong>Offline Rendering with PWA:</strong> Soon, you'll be able to install our app as a Progressive Web App (PWA), allowing offline receipt rendering with the feel of using a local app on your PC.</div>
                </li>
            </ul>
        </div>
    </div>
</section>
