
<section>

    <div class="rml-container">
        <div class="rml-content">
            <h2 class="rml-title">What's Coming Soon</h2>
            <ul class="rml-feature-list">
                <li>
                    <i class="fas fa-server"></i>
                    <div><strong>Backend Server for Collaboration:</strong> Seamlessly collaborate on projects with a dedicated backend server to support multi-user interactions.</div>
                </li>
                <li>
                    <i class="fas fa-users"></i>
                    <div><strong>Multi-user Project Sharing:</strong> Work together in real-time with project sharing capabilities, allowing multiple users to edit and manage receipts simultaneously.</div>
                </li>
                <li>
                    <i class="fas fa-database"></i>
                    <div><strong>Centralized Project Storage:</strong> Keep all your projects organized and accessible with centralized storage, making it easier than ever to manage your receipt creations.</div>
                </li>
                <li>
                    <i class="fas fa-edit"></i>
                    <div><strong>Online Editor Integration:</strong> Enjoy a fully integrated online editor, streamlining the process of building, editing, and previewing receipts directly in your browser.</div>
                </li>
                <li>
                    <i class="fas fa-bolt"></i>
                    <div><strong>Real-time Rendering in the Browser:</strong> Experience live rendering as you build your receipts, giving immediate visual feedback for faster iteration and design.</div>
                </li>
                <li>
                    <i class="fas fa-code"></i>
                    <div><strong>Rendering Capabilities on Linux and WASM:</strong> Expand your hosting options with upcoming support for Linux-based systems and WebAssembly (WASM), enabling cross-platform receipt rendering.</div>
                </li>
            </ul>
        </div>
    </div>


</section>