<section>
    <div class="rml-container">
        <div class="rml-content">
            <h2 class="rml-title">Documentation</h2>
            <p>
                Explore our extensive collection of guides, tutorials, and reference materials to help you master RML (Receipt Markup Language).
                Whether you're just getting started or looking to dive deep into advanced features, our documentation provides everything you need to build and customize receipts effectively.
                From basic syntax and structure to best practices and troubleshooting tips, you'll find detailed explanations and examples to guide you every step of the way.
                Start here to unlock the full potential of RML and enhance your receipt-building experience!
            </p>
            <div class="rml-button-container">
                <a @onclick="@(() => NavToNewWindow("https://github.com/Christopher-Dev/ReceiptMarkupLanguage/wiki"))" class="rml-wiki-button">Explore the Wiki</a>
            </div>
        </div>
    </div>
</section>

@code{

    public async Task NavToNewWindow(string url)
    {
        await HelperMethods.OpenInNewTab(url);
    }


}