@using RmlEditorWeb.Components.Dialogs
<div class="top-bar">

    <MudButton Color="Color.Inherit" StartIcon="@Icons.Material.Filled.Home" Href="/">Home</MudButton>
    
    <MudSpacer></MudSpacer>

    <MudChip T="string" Disabled="true" Color="@validationColor">Success</MudChip>

    <MudButton Style="margin-left: 0.5rem;" Color="Color.Inherit">Start Collaberation</MudButton>

    <MudButton Style="margin-left: 0.5rem;" Color="Color.Inherit" OnClick="GlobalVariablesDialog">Global Variables</MudButton>

    <MudButton Style="margin-left: 0.5rem;" Color="Color.Inherit" OnClick="RepeaterVariablesDialog">Repeater Data</MudButton>

    <MudButton Style="margin-left: 0.5rem;" Color="Color.Info" OnClick="HandleClick" Variant="Variant.Filled">Render</MudButton>

</div>

@code {
    private string validationIcon = Icons.Material.Filled.CheckCircle;
    private Color validationColor = Color.Success;
    private string validationTextSuccess = "Code is Valid" ;
    private string validationTextError = "Code has Errors!";
    private string validationText = "Code is Valid";

    [Parameter]
    public EventCallback OnRenderClick { get; set; }


    private async Task HandleClick()
    {
        await OnRenderClick.InvokeAsync();
    }

    private async Task RepeaterVariablesDialog()
    {
        // Define dialog parameters if needed (for passing data to the dialog)
        var parameters = new DialogParameters();

        // Define dialog options
        var options = new DialogOptions
        {
            CloseButton = true,
            MaxWidth = MaxWidth.Large,
            FullWidth = true,
        };

        // Show the dialog with parameters and options
        var dialog = DialogService.Show<RepeaterVariables>("", parameters, options);

        // Wait for the dialog result
        var result = await dialog.Result;

        // Check the dialog result
        if (!result.Canceled)
        {
            // Perform actions if the dialog was confirmed
            // Reload data or perform deletion logic here
        }
    }

    private async Task GlobalVariablesDialog()
    {
        // Define dialog parameters if needed (for passing data to the dialog)
        var parameters = new DialogParameters();

        // Define dialog options
        var options = new DialogOptions
            {
                CloseButton = true,
                MaxWidth = MaxWidth.Large,
                FullWidth = true,
            };

        // Show the dialog with parameters and options
        var dialog = DialogService.Show<GlobalVariables>("", parameters, options);

        // Wait for the dialog result
        var result = await dialog.Result;

        // Check the dialog result
        if (!result.Canceled)
        {
            // Perform actions if the dialog was confirmed
            // Reload data or perform deletion logic here
        }
    }


    protected override async Task OnInitializedAsync()
    {       
        await base.OnInitializedAsync();
    }

    private async void OnValidationResultChanged(object? sender, bool isValid)
    {
        await UpdateValidationIconAsync(isValid);
    }

    public async Task UpdateValidationIconAsync(bool isValid)
    {
        validationIcon = isValid ? Icons.Material.Filled.CheckCircle : Icons.Material.Filled.Cancel;
        validationColor = isValid ? Color.Success : Color.Error;
        validationText = isValid ? validationTextSuccess : validationTextError;
        await InvokeAsync(StateHasChanged);
    }

    private void OnHomeButtonClicked()
    {
        // Trigger the HomeButtonPressed event or perform logic here
    }

    private void OnClearCodeButtonClicked()
    {
        // Trigger the ClearCodeButtonPressed event or perform logic here
    }

    private void OnSettingsButtonClicked()
    {
        // Trigger the SettingsButtonPressed event or perform logic here
    }

    private void OnCancelButtonClicked()
    {
        // Trigger the CancelButtonPressed event or perform logic here
    }

    public void Dispose()
    {
        
    }
}