<div class="top-bar">
    <MudButton StartIcon="fas fa-book" Size="Size.Small">Documentation</MudButton>
    <MudButton StartIcon="fas fa-pencil-alt" Size="Size.Small">Editor</MudButton>
    <MudButton StartIcon="@Icons.Custom.Brands.GitHub" Size="Size.Small">Project GitHub</MudButton>
    <MudButton StartIcon="fas fa-envelope" Size="Size.Small">Contact</MudButton>
</div>
