<div class="top-bar">

    <MudText>Version: @AppSettings.PreloadedValues.BuildVersion</MudText>


    
    <MudButton OnClick="@(() => NavToNewWindow("https://github.com/Christopher-Dev/ReceiptMarkupLanguage/wiki"))" StartIcon="fas fa-book" Class="hover-blue">Documentation</MudButton>
    
    <MudButton Href="/editor" StartIcon="fas fa-pencil-alt" Class="hover-blue">Editor</MudButton>
            
    <MudButton StartIcon="fas fa-gear" Class="hover-blue">Settings</MudButton>
</div>



@code{


    public async Task FuckYou()
    {
        Snackbar.Add("No Light mode. You're wrong!", Severity.Error);
    }


    public async Task NavToNewWindow(string url)
    {
        await HelperMethods.OpenInNewTab(url);
    }



}