@using Microsoft.JSInterop
@implements IDisposable

<div id="@EditorId" class="monaco-editor-container"></div>

@code {
    [Parameter]
    public string Code { get; set; }

    // EventCallbacks to notify parent components of changes and validation
    [Parameter]
    public EventCallback<string> OnCodeChanged { get; set; }

    [Parameter]
    public EventCallback<bool> OnValidation { get; set; }

    public bool isCodeValid;

    private string EditorId = $"editor_{Guid.NewGuid()}";

    private DotNetObjectReference<MonacoEditor> _objectReference;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _objectReference = DotNetObjectReference.Create(this);

            await JS.InvokeVoidAsync("initializeMonaco", EditorId, Code, _objectReference, false);
        }
    }

    // Implement IDisposable to clean up the DotNetObjectReference and dispose the editor
    public void Dispose()
    {
        // Dispose of the Monaco Editor instance
        JS.InvokeVoidAsync("disposeMonaco", EditorId);

        _objectReference?.Dispose();
    }

    /// <summary>
    /// Invoked from JavaScript when the editor's content changes.
    /// </summary>
    /// <param name="updatedCode">The updated code from the editor.</param>
    [JSInvokable]
    public async Task CodeChanged(string updatedCode)
    {
        Code = updatedCode;
        await OnCodeChanged.InvokeAsync(updatedCode);
    }

    /// <summary>
    /// Invoked from JavaScript to toggle validation status.
    /// </summary>
    /// <param name="isValid">The validation status.</param>
    [JSInvokable]
    public async Task ToggleValidation(bool isValid)
    {
        isCodeValid = isValid;
        await OnValidation.InvokeAsync(isCodeValid);
    }

    /// <summary>
    /// Retrieves the current code from the Monaco editor.
    /// </summary>
    /// <returns>The current code as a string.</returns>
    public async Task<string> GetCodeAsync()
    {
        return await JS.InvokeAsync<string>("getMonacoCode", EditorId);
    }

    /// <summary>
    /// Sets the value of the Monaco editor.
    /// </summary>
    /// <param name="newCode">The new code to set in the editor.</param>
    public async Task SetCodeAsync(string newCode)
    {
        Code = newCode;
        await JS.InvokeVoidAsync("setMonacoCode", EditorId, newCode);
    }
}
