@* Receipt Markup Language (RML) Introduction Component *@

<section>

    @* Receipt Markup Language (RML) Introduction Component *@

    <div class="rml-container">
        <div class="rml-content">
            <h1 class="rml-title">Welcome to Receipt Markup Language (RML)</h1>
            <p>
                Receipt Markup Language (RML) is a quick and efficient tool for generating receipts within Windows-based applications or hosted tools.
                With simple integration through a single NuGet package, RML enables C# developers to start generating receipts with just a few lines of code.
                Combining XML’s ease of use with WPF-inspired syntax, RML offers an intuitive, browser-based environment for building, editing, and rendering receipts effortlessly on Windows.
            </p>
        </div>
    </div>


</section>