.main-container {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: #1e1e1e;
    flex-direction: column;
    box-sizing: border-box; /* Ensure padding is included in the height */
}

.top-bar {
    gap: 0.5rem;
    height: 64px;
    background-color: #2a2a2a; /* Adjusted color for contrast */
    display: flex;
    align-items: center; /* Center items vertically */
    padding: 0 16px; /* Optional: horizontal padding */
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.7); /* Bottom shadow */
}



.content {
    flex: 1; /* Fills the remaining space */
    overflow: auto; /* Enables scrolling if content overflows */
    /* Add more styles as needed */
}
