@using RmlEditorWeb.Components
@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider Theme="DarkMode" IsDarkMode="true" />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />


<div class="main-container">
    
    @if (NavigationManager.Uri.Contains("editor"))
    {
        <EditorTopBar></EditorTopBar>
    }
    else
    {
        <HomeTopBar></HomeTopBar>
    }



    <div class="content">
        @Body
    </div>
</div>



@code {
    public bool FirstLoad { get; set; } = true;

    public MudTheme DarkMode => new MudTheme()
    {
        PaletteDark = new PaletteDark()
        {
            Black = "#27272f",
            White = "#f8f9fa",
            Primary = "#214668", // Darkblue
            PrimaryContrastText = "#bab9b5",
            Secondary = "#03DAC6", // Teal
            SecondaryContrastText = "#000000",
            Tertiary = "0873D2", // Pink
            TertiaryContrastText = "#bab9b5",
            Background = "#121212",
            AppbarBackground = "#1F1B24",
            DrawerBackground = "#1F1B24",
            Surface = "#1E1E1E",
            DrawerText = "rgba(255,255,255, 0.7)",
            DrawerIcon = "rgba(255,255,255, 0.7)",
            TextPrimary = "#bab9b5",
            TextSecondary = "#bab9b5",
            ActionDefault = "#214668",
            ActionDisabled = "rgba(255,255,255, 0.3)",
            ActionDisabledBackground = "rgba(255,255,255, 0.12)"
        },
        LayoutProperties = new LayoutProperties()
        {
            DefaultBorderRadius = "16px" // Consistent border radius for light theme
        }
    };

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000); // Remove this line

        FirstLoad = false;

        await base.OnInitializedAsync();
    }
}